@model Product

<h3>@Model.Description Information</h3>

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Item Number</th>
        <th>Description</th>
        <th>Case Size</th>
        <th>Usage Number</th>
        <th>On Hand</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.ItemNumber</td>
        <td>@Model.Description</td>
        <td>@Model.CaseSize</td>
        <td>@Model.UsageNumber</td>
        <td>@Model.OnHand</td>
    </tr>

</table>

