@model Product

<h3>@Model.ItemNumber - @Model.Description Information</h3>

<table class="table">
    <tr>
        <th>Product ID</th>
        <th>Item Number</th>
        <th>Description</th>
        <th>Case Size</th>
        <th>Usage Number</th>
        <th>On Hand</th>
    </tr>
    <tr>
        <td>@Model.ProductID</td>
        <td>@Model.ItemNumber</td>
        <td>@Model.Description</td>
        <td>@Model.CaseSize</td>
        <td>@Model.UsageNumber</td>
        <td>@Model.OnHand</td>
    </tr>
</table>

<div style="padding:4px 4px 4px 0px;">
    @using (Html.BeginForm("UpdateProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID" />
        <input type="submit" class="btn btn-primary" value="Update Product" />
    }
</div>

<div>
    @using (Html.BeginForm("DeleteProduct", "Product", "Post"))
    {
        <input type="hidden" asp-for="ProductID" value="@Model.ProductID"/>
        <input type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?')" value="Delete Product"/>
    }
</div>

